
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    background-color: bisque;
}

/* ----------- Header ---------- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: #ff0004;
    text-shadow: 0 0 25px #ff0004, 0 0 50px #ff0004;
    transform: scale(1.1);
}
span{
    color: #ff0004;
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover, .navbar a:active{
    color: #ff0004;
    border-bottom: 3px solid #ff0004;
}
.contact{
    padding: 10px 28px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: #ff0004;
    box-shadow: 0 0 25px #ff0004;
    color: #fff;
}

/* ------ Education Section ----- */
.education{
    background-color: antiquewhite;
    color: white;
    margin: 200px auto;
    border: 1px solid transparent;
    border-radius: 10px;
    line-height: 30px;
}
.h2{
    font-size: 32px;
    font-weight: 700;
    color: #ff0004;
    text-shadow: 0 0 15px #ff0004;
    margin-left: 20px;
    text-align: center;
}
.hsc{
    height: auto;
    width: 40%;
    background-color: black;
    margin: 20px auto;
    border-radius: 5px;
}
.hsc h3{
    color: #ed0509;
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
}
.hsc p{
    font-size: 20px;
    font-weight: 700;
    color: wheat;
    margin-left: 20px;
}
.ssc{
    height: auto;
    width: 40%;
    background-color: black;
    margin: 20px auto;
    border-radius: 5px;
}
.ssc h3{
    color: #ed0509;
    font-size: 25px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 20px;
}
.ssc p{
    font-size: 20px;
    font-weight: 700;
    color: burlywood;
    margin-left: 20px;
}

@media (max-width : 900px) {
    .home, .about, .contact-form, .footer{
        flex-direction: column;
        text-align: center;
    }
    .home{
        padding-bottom: 30px;
    }
}
